<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <h3>Listing Details</h3>
        <div class="card">
            <img src="<%= listing.image%>" class="card-img-top show-img">
        </div>
        <div class="card-body">
            <p class="card-text">
                <%= listing.title %>
            </p>
            <p><%= listing.description %></p>
            <p>&#8377;<%= listing.price.toLocaleString("en-IN") %>/night<</p>
            <p><%= listing.location %></p>
            <p><%= listing.country %></p>
        </div>
        <a href="/listings/<%= listing._id%>/edit">Edit this listing</a>
        <form action="/listings/<%= listing._id%>?_method=DELETE" method="POST">
            <button class="c-btn">Delete</button>
        </form>
    </div>
    
</div>
        